<button class="btn btn-primary" style="float:left;" type="button" [routerLink]="['/']">Home</button>
<router-outlet></router-outlet>
<span class="btn btn-info">Page {{current}}</span>
<span class="badge badge-dark" style="float:right">
      <span class="btn btn-dark" style="font-size: 100%">Per Page</span>
<select class="badge badge-dark" style="font-size: 100%" id="perpage" [(ngModel)]="perpage" name="perpage" (change)="onChange()">
	  <option *ngFor="let opt of [1,2,3,4]">{{opt * 12}}</option>
  </select>
</span>
<br>
<br>
<div>
    <a href="#" class="previous page-btn" [routerLink]="['/beer', searchitem]" *ngIf="current>1" (click)="getData(current - 1)">&laquo; Previous</a>
    <a href="#" class="next page-btn" [routerLink]="['/beer', searchitem]" *ngIf="current<totalpsts/perpage" (click)="getData(current + 1)">Next &raquo;</a>
</div>
<br>
<br>

<div *ngIf="totalpsts!=0; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
<div class="container-fluid">
    <div *ngFor="let pst of lstposts; let i = index">
        <div *ngIf="i % 4 == 0" class="row">
            <div *ngFor="let number of [0,1,2,3]">
                <div class="col-sm-4" *ngIf="i + number  < lstposts.length">
                    <div class="card" style="width:350px">
                        <div class="card-header">{{lstposts[i + number].name}}</div>
                        <div class="center card-img-bottom">
                            <img class="imageset" [src]="lstposts[i + number].image_url" alt="Card image">
                        </div>
                        <br />
                        <div class="card-body">
                            <p class="card-text">{{lstposts[i + number].tagline}}</p>
                        </div>
                        <div>
                            <p><strong>{{lstposts[i + number].abv}}</strong></p>
                        </div>

                        <div class="card-footer">
                            <button id="{{i + number}}" type="button" class="btn btn-primary" (click)="open($event, content)">More Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-template>

<ng-template #elseBlock>
  <div class="alert alert-danger">
    <strong>No records found!</strong>
  </div>
</ng-template>

<ng-template let-modal #content>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{lstposts[fullId].name}}</h4>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <label><strong>Description:</strong></label>
        <p style="text-align:justify;">{{lstposts[fullId].description | truncate:[toggleId, lstposts[fullId].id]}}
            <span class="badge badge-dark" id={{lstposts[fullId].id}} (click)="toggleRead($event)" *ngIf="lstposts[fullId].description.split(' ').length > 20 && toggleId != lstposts[fullId].id" title="Click to read full description.">>>></span>
        </p>
        <table id="example" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
        <th colspan="2">What you'll need</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ingredientname of lstposts[fullId].ingredientsString">
                <td>{{ingredientname.name}}</td>
                <td>{{ingredientname.value}}</td>
        </tr>
        </tbody>
        </table>
        <label><strong>Food Pairing:</strong></label>
        <p>{{lstposts[fullId].food_pairingString}}</p>
        <label><strong>Volume</strong></label>
        <p>{{lstposts[fullId].volume.value | volume}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>    
    </div>
</ng-template>

<router-outlet></router-outlet>
