
<h5>If you would like to sort the results you can do so by applying the filters</h5>

<!--
               before 05-2007
               after  05-2016
               present-->
      <div class="container text-center">
        <form>
          <div class="row">
            <div class="col align-self-center form-control-lg">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                  <input type="checkbox" name="Before" [(ngModel)]="brewBefore" #before="ngModel" value="Unchecked" (change)='onCheck($event)' required />
                </span>
                <span class="input-group-text">Brewed Before</span>
              </div>
                <select class="default" *ngIf="before.valid" [(ngModel)]="byear" name="byear" (change)="onChange()">
                  <option *ngFor="let number of years">{{number}}</option>
                </select>
              </div>
            </div>
              <div class="col align-self-center form-control-lg">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">
                  <input type="checkbox" name="After" [(ngModel)]="brewAfter" required #after="ngModel" value="Unchecked" (change)='onCheck($event)' required />
                </span>
                <span class="input-group-text">Brewed After</span>
                <select *ngIf="after.valid" [(ngModel)]="ayear" name="ayear" (change)="onChange()">
                  <option *ngFor="let number of years">{{number}}</option>
                </select>
                </div>
              </div>
          </div>
            <div class="col align-self-center form-control-lg">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">
                  <input type="checkbox" name="AlV" value="Unchecked" [(ngModel)]="Al/V" required #AlV="ngModel" (change)='onCheck($event)' />
                </span>
                <span class="input-group-text">Alcohol/Volume</span>
                <select *ngIf="AlV.valid" [(ngModel)]="abvpercent" name="abvpercent" (change)="onChange()">
                  <option *ngFor="let number of [0,5,15]">{{number*2}}-{{(number+5)*3}}</option>
                </select>
              </div>
              </div>
            </div>
          </div>
        </form>
      </div>
<br>
<router-outlet></router-outlet>
<button class="btn btn-success" (click)="onClick()" type="button">View All</button>

