
<h1>Filters</h1>
<!--
               before 05-2007
               after  05-2016
               present-->
        
    <table class="maint">
        <tr>
            <td>
                <input required type="checkbox"  name="before" [(ngModel)]="brewbefore" #before="ngModel" value="Unchecked" (change)='onCheck($event)' required></td>
            <td class="cb1">Brewed Before</td>

            <td><select *ngIf="before.valid" [(ngModel)]="byear" name="byear" (change)="onChange()">
          <option *ngFor="let number of years">{{number}}</option>
        </select>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <input required type="checkbox" name="after" [(ngModel)]="brewafter" required #after="ngModel" value="Unchecked" (change)='onCheck($event)'></td>
            <td class="cb2">Brewed After</td>
            <td><select *ngIf="after.valid" [(ngModel)]="ayear" name="ayear" (change)="onChange()">
          <option *ngFor="let number of years">{{number}}</option>
        </select>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <input required type="checkbox" style="text-align:right" name="AlV" value="Unchecked" [(ngModel)]="Al/V" required #ALV="ngModel" (change)='onCheck($event)'></td>
            <td class="cb3">Alcohol/Volume</td>
            <td><select *ngIf="ALV.valid" [(ngModel)]="abvpercent" name="abvpercent" (change)="onChange()">
              <option *ngFor="let number of [0,5,15]">{{number*2}}-{{(number+5)*3}}</option>
            </select></td>
        </tr>

    </table>
<br>
<!-- <div class="form-check">
    <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="tc" [(ngModel)]="check" required #tc="ngModel">Enable Search
  </label>
</div>
<div>


    <div class="input-group mb-3" style="width:20%;display:inline-flex">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="item" *ngIf="tc.valid" name="item" required>
    </div>
</div> -->


<button class="btn btn-outline-primary" (click)="onClick()" type="button">View All</button>

<router-outlet></router-outlet>